<div id="<%= dom_id shelter %>">
  <p>
    <strong>ID:</strong>
    <%= shelter.id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= shelter.address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= shelter.description %>
  </p>

  <p>
    <strong>Cagesnumber:</strong>
    <%= shelter.cagesNumber %>
  </p>

  <p>
    <strong>Animalnumber:</strong>
    <%= shelter.animalNumber %>
  </p>
</div>
