<div class="show">
  <!--<p style="color: green"><%= notice %></p>-->
  <h1>View shelter</h1>

  <div class="card">
    <div class="card-body">
      <%= render @shelter %>
    </div>
    <div class="card-footer">
      <%= button_tag "Edit", class: "btn btn-primary my-action", onclick: "window.location.href='#{edit_shelter_path(@shelter)}'" %>
      
      <%= button_to "Delete", @species, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger my-action" %>
    </div>
  </div>

  <%= button_tag "<<< Back to shelters", class: "btn btn-primary my-back-action", onclick: "window.location.href='#{shelters_path}'" %>

</div>