<div class="show">
  <!--<p style="color: green"><%= notice %></p>-->

  <h1>View application form</h1>

  <div class="card">
    <div class="card-body">
      <%= render @application_form %>
    </div>
    <div class="card-footer">
      <%= button_tag "Edit", class: "btn btn-primary my-action", onclick: "window.location.href='#{edit_application_form_path(@application_form)}'" %>
      
      <%= button_to "Delete", @application_form, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger my-action" %>
    </div>
  </div>

  <%= button_tag "<<< Back to forms", class: "btn btn-primary my-back-action", onclick: "window.location.href='#{application_forms_path}'" %>
</div>