<div id="<%= dom_id cage %>">
  <p>
    <strong>ID:</strong>
    <%= cage.id %>
  </p>

  <p>
    <strong>Cagenumber:</strong>
    <%= cage.cageNumber %>
  </p>

  <p>
    <strong>Animal:</strong>
    <%= cage.animal_id %>
  </p>

  <p>
    <strong>Shelter:</strong>
    <%= cage.shelter_id %>
  </p>

</div>