<div id="<%= dom_id animal %>">
  <p>
    <strong>ID:</strong>
    <%= animal.id %>
  </p>
  
  <p>
    <strong>Name:</strong>
    <%= animal.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= animal.age %>
  </p>

  <p>
    <strong>Species:</strong>
    <%= animal.species_id %>
  </p>

</div>
